body {
    background-image: url('https://lh3.googleusercontent.com/UOMzGezMVHzlaCLeovscJnhBlRLN0RPRoTDvG03Jq0Ux0-IxDMlQGx_fLg5NV3l0Fv5cxnYZokUaWQ40pQ22MNPQqVFl0PIvf5ItWJSTeJnSsi_ii2VM0iN5hdk9_dSVkF73tQzna3WnKrI6SEUfAr77lN6IKNUxmO2CYEgH0B0PeVn1Y4M7C7nBaS4VfFsbZ0hLeZUgvCUUkRZCcirpRg5f_n6IfFCdKdwIZV3JDmNPaP0n0wqv97fhWlwzs2cOE7PLgdWu5cxy8QOM6VzBo_Qd0e7MknQ_guOoA289o9kBv1msKvC72RxqgOCHGIp-vr3LJ5ZCt7FC5hLsNfPInFMsT1Hy2a1frROxRc6BYOU2mBtzJ6CweeXAi5t1oX7tnyHxzCE0iCBgzeU_8hjlbHh4KVde5gyAYsESFgj0xZ49WK7veAIHPBC7mdT8n1OwuWjxlZPC-4NafUyUY3aORymGwjI52Jn0LgpQK3K3OGMa8dYpyXyj2rBFjUAunWYxTl0UndQU0BWl1OJyfqs6YjMYvSGHKbuS8ePuHVPWxbqwyrGVoZIi0luVj3KoeeNzbxyjukcTX0cMELst87NCtRtD4DQp-amBuXI0rS_31brcnfKodDHciYswG7tgCigg1ouj9xFkz6D7fthc5S1YUj8Lc9S2rm0keVgVnSIZ-qUys10wkqIRQZoDFhty798VRrxioVYJQj7VImNvhgsIyFPoFruJs8Y9-6_kqEhjgkaeM9ZszRwmrJEkQScUAOeg_Cylg69XGcinaFbeckI=w1900-no?authuser=1');
    background-position: center center;
    background-repeat: no-repeat;
    /* 高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
    /* 表示する大きさに基づいて、背景画像を調整 */
    background-size: cover;
    background-color: #464646;
}
#header{margin-bottom:50px;padding:2px 50px 2px 15px;}
